<hr>
<div class="container">
<h1>Synonyms</h1><br>
<div class="row" >
    <div class="col-md-2">
      <h2>Abundant</h2>
    </div>
    <div class="col-md-10"> 
      <h2>Ample</h2>
    </div>

  </div>
  <br>
  <div class="row" >
    <div class="col-md-2">
      <h2>After </h2>
    </div>
    <div class="col-md-10">
      <h2>Following</h2>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-md-2">
      <h2>Bashful</h2>
      
    </div>
    <div class="col-md-10">
      <h2>Timid</h2>
    </div>
  </div>
  <br>
  <div class="row" >
    <div class="col-md-2">
      <h2>Ballot</h2>
    </div>
    <div class="col-md-10">
      <h2>Poll</h2>
    </div>
  </div>
  <br>
  <div class="row" >
    <div class="col-md-2">
      <h2>Confess</h2>
    </div>
    <div class="col-md-10">
      <h2>Admit</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2">
      <h2>Exquisite</h2>
    </div>
    <div class="col-md-10">
      <h2>Delightful</h2>
    </div>
  </div>
  <br>
</div>
<hr>

  <router-outlet> </router-outlet>